server {
{% if item.ssl is defined %}
    listen {{ item.ssl.port|default(443) }} ssl;

    ssl_protocols       {{ nginx_ssl_protocols }};
    ssl_certificate     /etc/nginx/ssl/{{ item.name }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ item.name }}.key;

{% endif %}
{% if item.locations is defined %}
{% for location in item.locations %}
    location {% if location.path is defined %}{{ location.path }}{% else %}/{% endif %} {
{% if location.proxy is defined %}
        proxy_pass {{ location.proxy }};
        include    /etc/nginx/proxy_params;
{% endif %}
    }
{% endfor %}
{% endif %}
}
