server {
{% if item.domain is defined %}
    server_name {{ item.domain }};

    access_log /var/log/nginx/{{ item.name }}.access.log;
    error_log  /var/log/nginx/{{ item.name }}.error.log warn;

{% endif %}
{% if item.configuration is defined %}
{% for cfg in item.configuration %}
    {{ cfg }};
{% endfor %}
{% endif %}
{% if item.locations is defined %}
{% for location in item.locations %}
    location {% if location.path is defined %}{{ location.path }}{% else %}/{% endif %} {
{% if location.configuration is defined %}
{% for cfg in location.configuration %}
        {{ cfg }};
{% endfor %}
{% endif %}
{% if proxy_enabled and location.proxy is defined %}
{% if location.configuration is defined %}

{% endif %}
        proxy_pass {{ location.proxy }};
        include    /etc/nginx/proxy_params;
{% endif %}
    }
{% endfor %}
{% endif %}
}
